.hero {
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box {
  display: flex;
  height: 70vh;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  flex-direction: column-reverse;
}

.container-comments {
  height: 70vh;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
#container-cards {
  display: flex;
  width: 40%;
  align-self: center;
  height: 70%;
  overflow: scroll;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
  border: solid 2px black;
  overflow-x: hidden;
  overflow-y: scroll; /* Allow vertical scrolling */
  scrollbar-width: thin; /* Make the scrollbar thin */
  scrollbar-color: black transparent; /* Hide the scrollbar */
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}


.btn-comment {
  position: sticky;
  top: 0%;
  color: black;
  background-color: gold;
  border: solid 2px black;
  transform: translateY(50%);
  z-index: 1;
  transition: 200ms;
}

.btn-comment:hover {
  background-color: goldenrod;
  transition: 200ms;
}

.cardd {
  text-align: center;
  width: 70%;
  height: max-content;
  padding-top: 2em;
}

.top-bar-comments {
  left: 0;
  text-align: left;
  padding: 0.8em;
  border-bottom: solid 2px darkslategray;
}

.created-at {
  font-size: .875rem;
  display: contents;
  /* text-align: center; */
  color: gray;
  position: relative;
  /* border-radius: 1em 1em 0 0; */
  /* border: solid 2px black; */
  border-bottom: 0;
  width: 25%;
  transform: translate(20%);
}
