<div class="hero">
  <div class="container text-center mt-5">
    <h1 class="display-4">Download Our App</h1>
    <p class="lead">Experience the best features at your fingertips.</p>
    <div style="display: flex; gap: 5%; justify-content: center">
      <a
        href="assets/download-app/NFC-tools.iso"
        class="btn btn-secondary btn-lg"
        (click)="downloadFileIOS()"
        download
        >Download for iOS</a
      >
      <a
        href="assets/download-app/NFC-tools.apk"
        class="btn btn-success btn-lg"
        (click)="downloadFileAndroid()"
        download
        >Download for Android</a
      >
    </div>
  </div>

  <div style="height: 100%; display: flex; flex-direction: column-reverse">
    <div class="container-comments ">
      <a class="btn btn-comment">send comment</a>

      <div id="container-cards">
        <div id="card">
          <div class="created-at">at: YYYY-MM-DD</div>
          <div style="border: solid 0.3em black; border-radius: 1em">
            <div>
              <p class="top-bar-comments">
                NAME<span style="color: gray; margin-left: 1em"
                  >someone&#64;gmail.com</span
                >
              </p>
            </div>
            <div>
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolores
              voluptatibus officia, iure esse praesentium natus, voluptatem hic
              rerum doloremque accusamus distinctio fuga illo explicabo corrupti
              vel, facere nihil consequuntur aliquid!
            </div>
          </div>
        </div>

        <div id="card">
          <div class="created-at">at: YYYY-MM-DD</div>
          <div style="border: solid 0.3em black; border-radius: 1em">
            <div>
              <p class="top-bar-comments">
                NAME<span style="color: gray; margin-left: 1em"
                  >someone&#64;gmail.com</span
                >
              </p>
            </div>
            <div>consequuntur aliquid!</div>
          </div>
        </div>

        <div id="card">
          <div class="created-at">at: YYYY-MM-DD</div>
          <div style="border: solid 0.3em black; border-radius: 1em">
            <div>
              <p class="top-bar-comments">
                NAME<span style="color: gray; margin-left: 1em"
                  >someone&#64;gmail.com</span
                >
              </p>
            </div>
            <div>
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolores
              voluptatibus officia, iurecabo corrupti vel, facere nihil
              consequuntur aliquid!
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
