<div class="hero">
  <div class="container text-center mt-5">
    <h1 class="display-4">Download Our App</h1>
    <p class="lead">Experience the best features at your fingertips.</p>
    <div style="display: flex; gap: 5%; justify-content: center">
      <a
        href="assets/download-app/NFC-tools.iso"
        class="btn btn-secondary btn-lg"
        (click)="downloadFileIOS()"
        download
        >Download for iOS</a
      >
      <a
        href="assets/download-app/NFC-tools.apk"
        class="btn btn-success btn-lg"
        (click)="downloadFileAndroid()"
        download
        >Download for Android</a
      >
    </div>
  </div>

  <div class="box">
    <div class="container-comments">
      <button class="btn btn-comment" (click)="showDialog()">
        Tell Us What You Think
      </button>

      <p-dialog
        header="Header"
        [(visible)]="visible"
        [modal]="true"
        [style]="{ width: '25rem' }"
      >
        <ng-template pTemplate="header">
          <span>Submit Comment</span>
        </ng-template>
        <span class="p-text-secondary block mb-5">Share Your Thoughts.</span>
        <div class="container-textarea">
          <textarea
            [(ngModel)]="data_post.comment"
            style="
              width: -webkit-fill-available;
              height: -webkit-fill-available;
            "
            autocomplete="off"
            rows="4"
            cols="50"
          ></textarea>
          @if (data_post.id !== 0) {
          <button
            style="border-radius: 0"
            class="btn btn-danger"
            (click)="comment_delete(data_post.id)"
          >
            Delete
          </button>
          }
        </div>
        <div class="flex align-items-center gap-3 mb-5"></div>
        <ng-template pTemplate="footer">
          <p-button
            label="Cancel"
            [text]="true"
            severity="secondary"
            (onClick)="visible = false"
          />
          <p-button
            label="send"
            severity="secondary"
            (onClick)="comment_submit()"
          />
        </ng-template>
      </p-dialog>

      <div id="container-cards" #scrollContainer>
        @for (item of data_get; track $index) {
        <div class="cardd">
          <div class="created-at">{{ item.at | date : "yyyy-MM-dd" }}</div>
          @if (item.email === database.email) {
          <div
            style="border: solid 2px black; border-radius: 1em"
            (click)="comment_edit(item)"
          >
            <div>
              <p class="top-bar-comments">
                <b>{{ item.name }}</b
                ><span style="color: gray; margin-left: 1em">{{
                  item.email
                }}</span>
              </p>
            </div>
            <div>
              {{ item.comment }}
            </div>
          </div>
          } @else {
          <div style="border: solid 2px black; border-radius: 1em">
            <div>
              <p class="top-bar-comments">
                <b>{{ item.name }}</b
                ><span style="color: gray; margin-left: 1em">{{
                  item.email
                }}</span>
              </p>
            </div>
            <div>
              {{ item.comment }}
            </div>
          </div>
          }
        </div>
        }
      </div>
    </div>
  </div>
</div>
