.grid{
  height: 65%;
  width: 65%;
  top: 50%;
  position: fixed;
  left: 50%;
  transform: translate(-50%, -50%);
}

:host ::ng-deep .ag-row-odd .first-column  {
  background-color: #fbfbfb;
}

:host ::ng-deep .ag-row-even .first-column  {
  background-color: #f5f5f5;
}


:host ::ng-deep .bgsuccess {
  background-color: rgb(153 255 207) ;
}
:host ::ng-deep .bgwarning {
  background-color: rgb(255, 253, 153) ;
}
:host ::ng-deep .bgdanger {
  background-color: rgb(255, 153, 153) ;
}

