<p-toast [life]="8000"></p-toast>

<div class="container">
  <div class="card bg-light">
    <h2>Sign Up</h2>
    <form [formGroup]="signUpForm" (ngSubmit)="onSubmit(true)">
      <input
        type="text"
        id="name"
        name="name"
        placeholder="Name"
        formControlName="name"
      />

      <input
        type="text"
        id="email"
        name="email"
        placeholder="Email"
        formControlName="email"
        required
      />

      @if (signUpForm.get('email')?.hasError('customEmail')&&
      signUpForm.get('email')?.touched) {
      <div class="text-danger">put valid email.</div>
      }


      @if (signUpForm.get('email')?.hasError('required') &&
      signUpForm.get('email')?.touched) {
      <div class="text-danger">email is required.</div>
      }


      @if (signUpForm.get('email')?.hasError('SameEmail') &&
      signUpForm.get('email')?.touched && submit) {
         @if (sameemail === signUpForm.get('email')?.value) {
              <div class="text-danger">
                The email is already associated with an account.
              </div>
          }
      }

      <input
        type="password"
        id="password"
        name="password"
        placeholder="Password"
        formControlName="password"
        required
      />

      @if (signUpForm.get('password')?.invalid &&
      signUpForm.get('password')?.touched) {
      <div class="text-danger">password is required.</div>
      }


      <button class="form-btn" type="submit">Sign Up</button>
    </form>
  </div>
</div>
