/* You can add global styles to this file, and also import other style files */
@import "primeng/resources/themes/aura-light-noir/theme.css";
@import "primeng/resources/primeng.css";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.form-btn{
  width: 40%;
  position: relative;
  align-self: center;
  transition: all 200ms ease-in-out;
}


.form-btn:hover {
  background-color: black;
  width: 100%;
  position: relative;
  transition: all 200ms ease-in-out;
}
